body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    color: black;
}

html,
body {
    height: 100%;
    width: 100%;
}

.post-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.post-button {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #d8c308;
    color: rgb(7, 6, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.post-button:hover {
    color: #fff;
    background: #1ec965;
}

.create-post-popup-content {
    width: 80%;
}

.create-post-popup-textarea {
    height: 40vh;
    font-family: Arial;
}

.create-post-popup-btn {
    width: 120px;
    align-self: center;
}

.create-post-body {
    position: relative;
    width: 70%;
    margin: 1% auto auto auto;
    text-align: left;
    background-color: #fff;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
}

.close-btn-create-post-dialog {
    position: absolute;
    right: 20px;
    /* top: 10px; */
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.close-btn-create-post-dialog:hover,
.close-btn-create-post-dialog:focus {
    color: #f44336;
    cursor: pointer;
}

#createPostModal a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#createPostModal a:hover,
.overlay a:focus {
    color: #f1f1f1;
}